<div class="content-form">
    <h3>Yorum Yap!</h3>
<form method="post">
    <input type="hidden" name="BlogId" placeholder="Id" value="@ViewBag.value" required />
    <input type="text" name="UserName" placeholder="İsim" required />
    <input type="text" name="Mail" placeholder="Mail Adresiniz" required />
    <textarea name="Comment" placeholder="Yorumunuz"></textarea>
    <input type="submit" value="Gönder" />
</form>
</div>
